<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Sistema RH</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="far fa-square"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="collaborators.html" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-users"></i>
            <span>Colaboradores</span>
        </a>

        <a class="nav-link collapsed" href="list_departments.html" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-stream"></i>
            <span>Departamentos</span>
        </a>

        <a class="nav-link collapsed" href="#"  data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-people-carry"></i>
            <span>Prestadores de Serviço</span>
        </a>

        <a class="nav-link collapsed" href="vacation.html" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-plane-departure"></i>
            <span>Controle de Férias</span>
        </a>


        <a class="nav-link collapsed" href="list_points.html" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-cash-register"></i>
            <span>Controle de Ponto</span>
        </a>


        <a class="nav-link collapsed" href="payroll.html" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-file-invoice"></i>
            <span>Folha de Pagamento</span>
        </a>

        <a class="nav-link collapsed" href="#"  data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="far fa-address-book"></i>
            <span>Cargos</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>