
#box {
    margin-left: 25%;
    padding: 0;
    display: inline-flex;
    align-items: center;
  }


#box input[type="text"]{
    background-image: url("/img/search.png");
    background-position: 5px 3px;
    background-size: 22px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 25%;
    height: 30px;
    text-align: left;
    padding-left: 35px;
}

#box input[type="text"]:focus{
    outline: none;
}


#box h3{
    margin-left: 2%;
}
