.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
    color: white;
    font-weight: 600;
    transition: ease-out .25s;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: blue;
}

.header:hover {
    transition: ease-in .25s;
    background-color: black;
}

.logout {
    display: flex;
    justify-content: space-between;
    min-width: 25%;
    max-width: 50%;
}

.logout h3{
    font-size: 1rem;
    padding-top: 3px;
}