<div class="card" style="background-image:url({{image}});">
    <h1>{{title}}</h1>
    <ul class="card-menu">
        <a 
        routerLink="{{url1}}"
        routerLinkActive="active"
        data-bs-toggle="modal"
        attr.data-bs-target="{{modal1}}">
        <li>{{sub1}}</li>
        </a>
        <a
        routerLink="{{url2}}" 
        routerLinkActive="active"         
        data-bs-toggle="modal"
        attr.data-bs-target="{{modal2}}">
        <li>{{sub2}}</li>
        </a>
    </ul>
</div>
