<div class="bg-gradient-primary">
    
    <div class="container">
        
        <!-- Outer Row -->
        <div class="row justify-content-center align-items-center row-login">
            
            <div class="col-xl-10 col-lg-12 col-md-9">
                
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    {{ error }}
                </div>

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block login-frame-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                    </div>
                                    <form class="user" id="loginForm" (submit)="verifyLogin()">
                                        <div class="form-group">
                                            <input type="text" [formControl]="cpf" class="form-control" placeholder="CPF">
                                        </div>
                                        <div class="form-group">
                                            <input type="password"  [formControl]="password" class="form-control" placeholder="Senha">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>
</div>
