.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#data_modal .modal-dialog {
    width: fit-content;
}

#data_modal_table th {
    padding-right: 2rem;
    text-align: right;
}

#data_modal_table td {
    text-align: left;
}